In [1]:
my_list = [1,2,3]
my_list = [1,'string',1.2]

In [2]:
len(my_list)

3

In [5]:
my_list = ['Ram','Pam','Sam']

In [6]:
#indexing
my_list[0]

'Ram'

In [7]:
#slicing
my_list[1:]

['Pam', 'Sam']

In [9]:
# concatenation of lists
another = ['Abc','Def']
newlist = my_list + another
newlist

['Ram', 'Pam', 'Sam', 'Abc', 'Def']

In [11]:
newlist[0] = 'Mohan' # item reassignment possible coz lists are mutable
newlist

['Mohan', 'Pam', 'Sam', 'Abc', 'Def']

In [13]:
# add an element to the end of a list
newlist.append('One')
newlist

['Mohan', 'Pam', 'Sam', 'Abc', 'Def', 'One', 'One']

In [14]:
newlist.append(7)

In [15]:
newlist

['Mohan', 'Pam', 'Sam', 'Abc', 'Def', 'One', 'One', 7]

In [16]:
# remove an element from the end of a list
newlist.pop() # default index of pop() is -1

7

In [17]:
newlist

['Mohan', 'Pam', 'Sam', 'Abc', 'Def', 'One', 'One']

In [18]:
popped_item = newlist.pop()

In [19]:
popped_item

'One'

In [20]:
popped_item = newlist.pop(0)

In [21]:
popped_item

'Mohan'

### list.sort() method 
<code> INPLACE SORT
* returns nothing

In [22]:
# list.sort() 
alpha_list = ['a','x','e','b','z']
num_list = [6,3,67,32,5]

In [24]:
alpha_list.sort() # 
alpha_list

['a', 'b', 'e', 'x', 'z']

In [26]:
sorted_list = alpha_list.sort()
print(type(sorted_list))

<class 'NoneType'>

#### None is a special object in Python
* indicates no value
* it is the return value of a function or method that doesn't return anything

In [29]:
alpha_list.sort()
my_sorted_list = alpha_list
my_sorted_list

['a', 'b', 'e', 'x', 'z']

In [30]:
num_list

[6, 3, 67, 32, 5]

In [31]:
num_list.sort()
num_list

[3, 5, 6, 32, 67]

In [32]:
num_list.reverse() # ALSO INPLACE method

In [33]:
num_list

[67, 32, 6, 5, 3]

* Unlike strings, item reassignment can be done in a list