## String : ordered sequence of characters

In [1]:
'hello'

'hello'

In [2]:
"hello world"

'hello world'

In [3]:
'I'm going for a run'

SyntaxError: invalid syntax (<ipython-input-3-e914581519da>, line 1)

In [4]:
"I'm going for a run"

"I'm going for a run"

In [5]:
'hello world 1'
'hello world 2'

'hello world 2'

In [6]:
print('hello world 1')
print('hello world 2')

hello world 1
hello world 2

In [7]:
# escape sequences
print('hello \n world')

hello
 world

In [9]:
print('hello\tworld')

hello	world

In [10]:
len('hello world')

11

In [12]:
len('')

0

In [13]:
mystring = 'Hello World'

In [14]:
# indexing
mystring[0] # grab the first character

'H'

In [15]:
mystring[8]

'r'

In [16]:
mystring[9]

'l'

In [18]:
# reverse index
mystring[-2]

'l'

In [19]:
# Slicing
mystring = 'abcdefghijk'
mystring[2:] # from index 2 all the way to the end

'cdefghijk'

In [21]:
mystring[:3] # go upto but not including 3

'abc'

In [22]:
mystring[::]

'abcdefghijk'

In [23]:
mystring[::2]

'acegik'

In [24]:
mystring[::3] # start,stop,stepsize

'adgj'

In [25]:
mystring[::-1] # more of a python trick!

'kjihgfedcba'

### Strings are immutable
* the str object does not support item assignment

In [27]:
name = 'Sam'
name[0] = 'P' # throws an error coz strings are immutable

TypeError: 'str' object does not support item assignment

In [28]:
new = 'P'+ name[1:]
new

'Pam'

In [42]:
x = 'hello world'
x = x + ' it is beautiful outside' # string concatenation
x

'hello world it is beautiful outside'

In [39]:
letter = 'z'
letter * 10

'zzzzzzzzzz'

In [43]:
2 + 3

5

In [44]:
'2' + '3'

'23'

In [51]:
x = 'Hello World'
y = 'LOL'

In [52]:
print(x.upper()) # does not affect the original string
print(x)
print(y.lower())

HELLO WORLD
Hello World
lol

In [54]:
#split method
x.split() # default delimiter is ' ' (whitespace)

['Hello', 'World']

In [55]:
x = 'Hi this is a string'
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

### Print formatting with Strings
* string interpolation : stick/insert a variable to a string
* string.format() method
* f-strings

In [56]:

print('this is {}'.format('SOMETHING'))

this is SOMETHING

In [57]:
print('The {} {} {}'.format('fox','brown','quick'))

The fox brown quick

In [58]:
# insert using index positions
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [59]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [60]:
# insert using keywords
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

### Float formatting
<code>{value:width.precision f}<code>
width : minimum width showing the number

In [62]:
result = 100/777
result

0.1287001287001287

In [63]:
print("the result is {}".format(result))

the result is 0.1287001287001287

In [69]:
print("the result is {r:1.3f}".format(r=result))
print("the result is {r:10.3f}".format(r=result))
print("the result is {r:.3f}".format(r=result))

the result is 0.129
the result is      0.129
the result is 0.129

In [73]:
a = 104.564800356
print('value of f is {a:1.2f}'.format(a=a))

value of f is 104.56

In [77]:
name = 'Milan'
age = 22
print(f'Hello this is {name}. I am {age} years old')

Hello this is Milan. I am 22 years old